<header>
  <!-- Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
    <div class="container"><a class="navbar-brand" href="/"><strong>プロプログラミング</strong></a>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#about">詳細</a></li>
          <li class="nav-item"><a class="nav-link" href="#pricing">料金</a></li>
          <!--
          <li class="nav-item"><a class="nav-link" href="#contact">問い合わせ</a></li>
          -->
          <li class="nav-item"><%= link_to 'ログイン', signin_index_path, class: 'nav-link' %></li>
        </ul>
        <%= link_to 'ユーザー登録', signup_index_path, class: 'btn btn-primary btn-rounded my-0' %>
      </div>
    </div>
  </nav>
  <!-- Intro Section-->
  <section class="view hm-gradient" id="intro">
    <div class="full-bg-img d-flex align-items-center">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-10 col-lg-6 text-center text-md-left margins">
            <div class="white-text">
              <div class="wow fadeInLeft" data-wow-delay="0.3s">
                <h1 class="h1-responsive font-bold mt-sm-5">現役プログラマーと一緒に、<br>本物のプログラミング体験を。</h1>
                <div class="h6">
                  スクールや本だけでは学習が難しい、実用レベルのコードの書き方/チケット(タスク)管理などを学びながら、現役のプログラマーと一緒に仕事を疑似体験することができます。
                </div>
              </div><br>
              <div class="wow fadeInLeft" data-wow-delay="0.3s">
                <%= link_to 'はじめる', signup_index_path, class: 'btn btn-white dark-grey-text font-bold ml-0' %>
                <a class="btn btn-outline-white" href="#about">詳しく</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>

<section class="row no-gutters" id="features">
  <div class="col-lg-3 col-md-6 col-sm-12 deep-purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s"><i class="fa fa-handshake-o fa-2x"></i>
      <div class="h5 mt-3">チームとしての開発</div>
      <p class="mt-5">一緒に組むのは「講師」ではありません。プログラマーはあなたを新しいチームメンバーとして接します。リアルなチーム開発を体験できます。</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s"><i class="fa fa-line-chart fa-2x"></i>
      <div class="h5 mt-3">「本当の」プログラミング</div>
      <p class="mt-5">ウェブサイトやスクールがでっちあげた架空の問題を解くためのプログラミングではありません。本当に世の中で使われるプログラムを書く経験ができます。</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 teal lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".5s"><i class="fa fa-fire fa-2x"></i>
      <div class="h5 mt-3">即戦力になれる</div>
      <p class="mt-5">現役のプログラマーが普段使っているツールや開発フローを使って、実務レベルの力を身に着けることができます。</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 light-blue lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".7s"><i class="fa fa-comments-o fa-2x"></i>
      <div class="h5 mt-3">フィードバック</div>
      <p class="mt-5">もし良い結果を出すことができれば、一緒に組んだプログラマーから「プログラマーとして仕事ができるレベル」だと評価されます。プログラマーへの転職に自信が持てます。</p>
    </div>
  </div>
</section>

<section class="text-center py-5 grey lighten-4" id="about">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3">プロプログラミングでできること</h2>
      <p class="px-5 mb-5 pb-3 lead blue-grey-text">
        プログラミング言語を学ぶ環境は、本やウェブサービス、スクールなどとても充実しています。しかし、プログラミング言語を覚えればプログラマーとして仕事ができるかというと残念ながらそんなことはありません。プロプログラミングでは本やスクールだけでは足りない部分を埋めることができます。
      </p>
    </div>
    <div class="row">
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-code fa-3x orange-text"></i>
        <h3 class="h4 mt-3">コードの品質</h3>
        <p class="mt-3 blue-grey-text">
          「コードは書く時間よりも読まれる時間のほうが長い」と言われています。他人にとって読みやすく、変更を加えやすいコードを書き続けることはプログラマーとしてのテーマの一つです。現役のプログラマーからレビューをもらうことで、バグを生みにくい、品質の高いコードの書き方を学ぶことができます。 </p>
      </div>
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-magic fa-3x cyan-text"></i>
        <h3 class="h4 mt-3">開発に必要なツール</h3>
        <p class="mt-3 blue-grey-text">
          Gitはおそらくご存じでしょう。もはやこれなしでは開発できないと断言してしまえるくらい今日では重要なツールです。仕事で開発する際に多くのプログラマーが活用するツールが他にもたくさんあります。こういった便利なツールを実際に使いながら身に着けることができます。
        </p>
      </div>
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-comments-o fa-3x red-text"></i>
        <h3 class="h4 mt-3">フィードバック</h3>
        <p class="mt-3 blue-grey-text">
          もしあなたがプログラマーへの転職を考えていて現在勉強中なら、「プログラミング言語は勉強してるけど、これで本当にプログラマーになれるんだろうか」といった不安を抱えているかもしれません。プログラマーから「〇〇について勉強が必要」「プログラマーとしてやっていけるレベル」といった具合に評価してもらうことで、次に必要な行動がわかります。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="how-to-use">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="text-center h1 my-4">ご利用の流れ</h2>
      <p class="px-5 mb-5 pb-3 lead blue-grey-text text-center">
        すべての工程はオンラインです。誰とも顔を合わせる必要はありません。
      </p>
    </div>
    <div class="row wow fadeInLeft" data-wow-delay=".3s">
      <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5"><img class="img-fluid rounded z-depth-2" src="<%= asset_bundle_path 'images/task.png' %>" alt="project image"/></div>
      <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">
        <div class="row mb-3">
          <div class="col-1 mr-1"><i class="fa fa-tasks fa-2x cyan-text"></i></div>
          <div class="col-10">
            <h5 class="font-bold">1. タスクを選ぶ</h5>
            <p class="grey-text">
              興味のある「タスク」を見つけたら応募します。その後タスクを作成した担当者(プログラマー)からの連絡を待ちます。
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-1 mr-1"><i class="fa fa-code fa-2x red-text"></i></div>
          <div class="col-10">
            <h5 class="font-bold">2. 開発スタート</h5>
            <p class="grey-text">
              多くの場合、プログラマーはSlackなどのコミュニケーションツールを利用していますので、指示に従ってコミュニケーションツールに招待してもらいます。そこで具体的な内容を聞いて作業開始です。一般的にはご自分のマシンにGitHubなどからソースコードをダウンロードして、環境構築するところから始まります。
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 mr-1"><i class="fa fa-comments-o fa-2x deep-purple-text"></i></div>
          <div class="col-10">
            <h5 class="font-bold">3. フィードバック</h5>
            <p class="grey-text">
              ひとつのタスクが終わると、プログラマーからフィードバックを受け取ります。受け取ったフィードバックを参考に勉強、または次のタスクを探してみましょう。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center py-5 indigo darken-1 text-white" id="pricing">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3">料金</h2>
      <p class="px-5 mb-5 pb-3 lead">
        現在プロプログラミングはベータ版のため無料でご利用いただけます。
      </p>
    </div>
    <div class="row wow zoomIn">
      <div class="col-lg-4 col-md-12 mb-r">
        <div class="card card-image">
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3 rounded">
            <div class="card-body">
              <div class="h5">タスク単位</div>
              <div class="py-5"><sup class="display-4">&yen;</sup><span class="display-1">0</span></div>
              <%= link_to 'はじめる', signup_index_path, class: 'btn btn-outline-white mt-5' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-r">
        <div class="card card-image">
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-teal-strong py-3 px-3 rounded">
            <div class="card-body">
              <div class="h5">1ヵ月</div>
              <div class="py-5"><sup class="display-4">&yen;</sup><span class="display-1">0</span></div>
              <%= link_to 'はじめる', signup_index_path, class: 'btn btn-outline-white mt-5' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-r">
        <div class="card card-image">
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-red-strong py-3 px-3 rounded">
            <div class="card-body">
              <div class="h5">3ヵ月</div>
              <div class="py-5"><sup class="display-4">&yen;</sup><span class="display-1">0</span></div>
              <%= link_to 'はじめる', signup_index_path, class: 'btn btn-outline-white mt-5' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>※本稼働後は有料化を予定しています</p>
  </div>
</section>
